.container {
  display: grid;
  place-items: center;
}

h1,
p {
  text-align: center;
}

h1 {
  margin-top: 4rem;
  text-transform: uppercase;
}

p {
  margin-top: 0.5rem;
  justify-content: space-between;
  font-family: "broedtekst";
}
