.wrapper {
  display: grid;
  place-items: center;
}

.h1,
.tekst {
  text-align: center;
  margin: 2rem;    

}

.h1 {
  margin-top: 1rem;
  text-transform: uppercase;
  top: 40px;
}

/* .p {
  margin-top: 1rem;
  justify-content: space-between;
  font-family: "broedtekst";
  top: 200px;
} */
.tekst {
margin: 1rem;    
justify-content: space-between;
    font-family: "broedtekst";
  }
.button-links {
  display: flex;
  gap: clamp(3rem, 1.2353rem + 3.1373vw, 5rem);
}
.button-link {
  position: relative;
}

.button-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 180ms ease-in;
}

.button-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width: 400px) {
  .kaffe_billede > * {
    display: block;
  }
  .button_container > * {
    font-size: 0.5rem;
  }
  
}

.button_container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem; 
}

/*@media (min-width: 600px) {
  body {
    background-image: url(/img/forside_baggrund.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .kaffe_billede {
    display: none;
  }
  .button_container > * {
    font-size: 1.5rem;
  }
}

