.wrapper {
  display: grid;
  place-items: center;
  /* background: rgba(255, 252, 247, 0.8); */
}

.h1,
.tekst {
  text-align: center;
}

.h1 {
  margin-top: 1rem;
  /* text-transform: uppercase; */
  font-size: clamp(1rem, 1.2718rem + 3.1068vw, 1rem);
}

.tekst {
  justify-content: space-between;
  font-family: "broedtekst";
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.tekst p {
  padding: 0.5rem;
}

.button_container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  text-transform: uppercase;
}
.button-links {
  display: flex;
  gap: clamp(3rem, 1.2353rem + 3.1373vw, 5rem);
}
.button-link {
  position: relative;
  padding: 3px;
}

.button-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 180ms ease-in;
}

.button-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width: 905px) {
  .kaffe_billede {
    display: block;
    width: 250px;
  }
  .button_container > * {
    font-size: 1rem;
  }
  .h1 {
    text-transform: uppercase;
  }
}

@media (min-width: 906px) {
  body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(255, 252, 247, 0.8), rgba(255, 252, 247, 0.8)), url(/img/birkeblade.png);
  }
  main {
    min-height: 38rem;
  }
  .kaffe_billede {
    grid-row: 3;
    width: 200px;
  }
  .wrapper > * {
    display: grid;
    grid-template-rows: auto;
  }
  .button_container > * {
    font-size: 1rem;
    grid-row: 4;
  }
  .tekst {
    grid-row: 2;
    padding: 1rem;
    justify-content: space-between;
    font-family: "broedtekst";
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .button_container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .h1 {
    font-size: clamp(1rem, 1.2718rem + 3.1068vw, 1.5rem);
  }
  header {
    margin-bottom: 3.5rem;
  }
  /* .button-link {
    position: relative;
    padding: 3px;
  } */
}

/* .p {
  margin-top: 1rem;
  justify-content: space-between;
  font-family: "broedtekst";
  top: 200px;
} */
