body {
  background-image: url(/img/forside_baggrund.png);
  background-position: center;
  background-size: cover;
}
.container {
  display: grid;
  place-items: center;
  margin-top: 5px;
}

.h1,
.p {
  text-align: center;
  margin: 6rem;
}

.h1 {
  margin-top: 6rem;
  text-transform: uppercase;
  top: 40px;
}

.p {
  margin-top: 1rem;
  justify-content: space-between;
  font-family: "broedtekst";
  top: 200px;
}
.button_container {
  display: flex;
  margin: 3rem;
  gap: 3rem;
}

.button_container > * {
  font-size: 2rem;
}
