:root {
  --link-farve: #6e8c4e;
  --link-farve-hover: #a8bfa3;
  --baggrund-farve: #fffcf7;
  --footer-farve: #e4e6f2;
  --tekst-farve: #4d453e;
  --knap-farve: #ff7424;
  --knap-farve-hover: #ffa36e;

  --lille-skrift: 0.8rem;
  --normal-skrift: 1rem;
  --mellem-skrift: 1.5rem;
  --stor-skrift: 2rem;
}

@font-face {
  font-family: "overskrift";
  src: url(/fonts/dmserifdisplay-regular-webfont.woff2);
}

@font-face {
  font-family: "links";
  src: url(/fonts/inter-variablefont_slntwght-webfont.woff2);
}

@font-face {
  font-family: "broedtekst";
  src: url(/fonts/librebaskerville-regular-webfont.woff2);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100vh;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  letter-spacing: 0.7px;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.logo {
  max-width: 100px;
}

/* Body og wrapper styling */

body {
  background-color: var(--baggrund-farve);
  color: var(--tekst-farve);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--link-farve);
  text-decoration: none;
  font-family: "links";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "overskrift";
  color: var(--tekst-farve);
}

p,
li {
  font-family: "broedtekst";
}

.wrapper {
  width: clamp(21.875rem, 7.4636rem + 61.4887vw, 81.25rem);
  margin-inline: auto;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 1rem;
  background-color: var(--footer-farve);
  padding: 1.5rem;
  margin-top: auto;
  font-size: 0.8rem;
}

.socials,
.aabningstider {
  margin-top: 1.5rem;
}

.socials img {
  width: 30px;
}

.socials {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5rem;
  place-items: center;
}

.nav-links {
  display: flex;
  gap: clamp(3rem, 1.2353rem + 3.1373vw, 5rem);
  place-items: center;
}

.navlink:active {
  font-weight: bold;
}

@media screen and (min-width: 811px) {
  .nav-link {
    position: relative;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 180ms ease-in;
  }

  .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@media screen and (max-width: 463px) {
  footer {
    text-align: center;
  }
}

/* button {
  background-color: var(--knap-farve);
  color: var(--baggrund-farve);
  text-transform: uppercase;
  text-align: center;
  font-family: "links";
  font-weight: bold;
  text-decoration: none;
  font-size: var(--normal-skrift);
  height: 40px;
  width: 210px;
  border: none;
  color: white;
  display: inline-block;
  border-radius: 12px;
}

button:hover {
  background-color: var(--knap-farve-hover);
} */

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 810px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .nav-links {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .nav-links {
    display: none; /* Fjern menu-listen som standard */
  }

  .nav-links.shown {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 3px solid var(--link-farve);
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    text-align: center;
    font-size: 2rem;
  }
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before {
  width: 2em;
  height: 4px;
  background: black;

  transition: transform 0.8s cubic-bezier(0, 0.01, 0.24, 1);
}

.hamburger::before {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 8px;
}

.pressed .hamburger {
  transform: rotate(-45deg);
}

.pressed .hamburger::before {
  /* opacity: 0; */
  transform: rotate(90deg) translate(8px);
}
