@media (min-width: 1366px) {
  .col2 {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    gap: 3rem;
  }

  .menu__card__food {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    /* padding-inline: 2rem; */
  }

  .menu__category:nth-child(2) {
    grid-row: 2;
  }

  .menu__subheader {
    margin-top: 0rem;
  }

  .menu__card,
  .menu__card__food {
    padding-inline: 2rem;
  }
}

@media (max-width: 1365px) {
  .menu__header {
    text-align: center;
  }

  .menu__subheader {
    margin-top: 1.8rem;
  }
}

.menu__item {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

.menu__header {
  text-transform: uppercase;
}

.menu__intro > * {
  margin-block: 1.5rem;
}

.menu__food {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.menu__food__description,
.menu__food__star-description {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.6rem;
}

.picture-grid__subheader {
  font-size: clamp(2rem, 1.2718rem + 3.1068vw, 5rem);
}

.menu__main__header {
  font-size: clamp(2rem, 1.2718rem + 3.1068vw, 5rem);
}

.wrapper__menu {
  margin-top: 3rem;
  width: 80%;
  max-width: 1500px;
  margin-inline: auto;
}

.menu__dish {
  flex-basis: 75%;
}

.vertical-fade {
  animation-name: vertical-fade_kf;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes vertical-fade_kf {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.picture__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
