img {
  width: 100%;
}

.container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  flex: 1;
}

p {
  margin-top: 1rem;
  text-align: center;
}
.produktvisning_header {
  text-transform: uppercase;
  text-align: center;
}

.form {
  grid-area: 2/3;
  margin-top: 5rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "broedtekst";
  color: var(--tekst-farve);
}

.formfelt {
  display: flex;
  justify-content: space-between;
  margin-block: 0.1rem;
  font-family: "broedtekst";
  color: var(--tekst-farve);
}

label,
input,
button,
textarea,
select {
  display: block;
}

button {
  background-color: var(--knap-farve);
  color: var(--baggrund-farve);
  text-transform: uppercase;
  text-align: center;
}

button:hover {
  background-color: var(--knap-farve-hover);
}

/*Mobilsite*/
@media (max-width: 750px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-block: 2rem;
  }
  .container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 20px;
    flex: 1;
  }
  p {
    margin-top: 1rem;
    text-align: center;
  }
  .produktvisning_header {
    text-transform: uppercase;
    text-align: center;
  }

  .form {
    grid-area: 2/3;
    margin-top: 5rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    font-family: "broedtekst";
    color: var(--tekst-farve);
  }
}
