img {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  flex: 1;
}
@media (min-width: 750px) {
}

h2,
p {
  text-align: center;
}

.form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.formfelt {
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr;
}

label,
input,
button,
textarea,
select {
  display: block;
}
