img {
  width: 100%;
}
.wrapper {
  justify-content: space-between;
}
.container {
  margin-top: 3rem;
  display: block;
  gap: 20px;
  flex: 1;
}
.divider {
  margin-top: 4rem;
  border-top: 3px solid var(--link-farve);
}

p {
  margin-top: 1rem;
  text-align: center;
}

.kage_pris {
  margin-top: 4rem;
}

.produktvisning_header {
  text-transform: uppercase;
  text-align: center;
}

.form {
  margin-top: 5rem;
  display: grid;
  font-family: "broedtekst";
  color: var(--tekst-farve);
  display: inline-block;
}

.form-felt {
  margin-top: 2rem;
}

label,
input,
button,
textarea,
select,
option,
.form-felt {
  display: inline-block;
}

.knap {
  padding: 2rem;
  text-align: center;
}

@media (min-width: 600px) {
  .container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    flex: 1;
  }

  p {
    margin-top: 2rem;
    text-align: center;
  }

  .kage_pris {
    margin-top: 4rem;
  }
  .produktvisning_header {
    text-transform: uppercase;
    text-align: center;
  }

  .form {
    margin-top: 5rem;
    display: grid;
    font-family: "broedtekst";
    color: var(--tekst-farve);
    display: inline;
    text-align: right;
    padding: 1rem;
  }
  .knap {
    margin-top: auto;
    text-align: right;
  }
}
